[defaults]
inventory = inventory/hosts.ini
host_key_checking = False
deprecation_warnings = False
stdout_callback = yaml

[ssh_connection]
# 윈도우에 설치된 OpenSSH를 끄집어내어 사용합니다 (Authentik 인증 우회)
ssh_executable = /mnt/c/Windows/System32/OpenSSH/ssh.exe
# 윈도우 OpenSSH는 ControlMaster(다중 접속) 기능이 불안정하므로 비활성화
ssh_args = -o StrictHostKeyChecking=no
control_path_dir = /dev/null
pipelining = False
